<footer class="p2pu-footer">

	<div class="container">

		<ul class="footer-social clearfix">
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_32x32">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_renren"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->

            <!--
			<li><a target="_blank" href="http://community.p2pu.org/"><i class="fa fa-weixin"></i></a>
			</li>
			<li><a target="_blank" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fhowto.p2pu.org&text=Create%20engaged%20learning%20communities%20that%20lasts&hashtags=courseinabox&via=p2pu&related=p2pu"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/P2PUniversity">
					<i class="fa fa-facebook"></i>
				</a>
            </li> -->
		</ul>

		<hr>
		<div class="col-md-4 first">
			<h2>语文教育的意义是什么？</h2>

			<p> 
            在倡导素养教育、“人”的教育和终身教育的今天，
            学习语文是为了生活中经常要用文字与别人交流，
            为了学习、工作的需要，为了人的精神需要，
            为了人的发展和自我实现的需要。 今天的人类比以往任何时候都更加依赖阅读、写作和口语交际。
            言语活动就像空气与阳光一样不可或缺：
            蜂拥而至的报刊、书籍，扑面而来的广告，
            铺天盖地的网络信息……言语的需求还在与日俱增，人类仿佛落入了语言文字的世界之中。
			</p>

		</div>

		<div class="col-md-4 col-md-offset-1">
			<h4>友情链接</h4>
			<ul class="footer-links">
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="http://www.juren.com/">
					    巨人学校
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="http://bbs.juren.com/">
					    巨人社区
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="http://www.literature.org.cn/">
					    中国文学网
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="http://www.zgycwx.com/">
					    中国原创文学
					</a>
				</li>
                <!--
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="/assets/uploads/P2PUMediaKit.pdf">
						Media Kit
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a class="donate" href="#" data-toggle="modal" data-target="#donate-modal">
						Donate
					</a>
				</li>
                -->
			</ul>
		</div>


		<div class="pull-right col-md-3 cc-by-sa">
			<img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon">

            <!--
			<p>
				Unless otherwise noted, all the materials on this site are licensed under a
				<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license.
            </p>-->
			<p> 
            人像一粒种子偶然地飘落到这个世界上，
            没有任何本质可言，只有存在着，
            要想确立自己的本质必须通过自己的行动来证明。
            人不是别的东西，而仅仅是他自己行动的结果。   <br>  —— 萨特
			</p>
		</div>

	</div>

</footer>

